RewriteEngine ON

RewriteRule ^dashboard register_subject.php [NC,L]
RewriteRule ^login index.php [NC,L]
RewriteRule ^signup signup.php [NC,L]
RewriteRule ^result result.php [NC,L]
RewriteRule ^view-result result_pdf.php [NC,L]