RewriteEngine ON
RewriteRule ^question-uploader question_uploader.php [NC,L]
RewriteRule ^edit_quest_single edit_quest_single.php [NC,L]
RewriteRule ^edit_question_pro edit_question_pro.php [NC,L]
RewriteRule ^passage-uploader passage_uploader.php [NC,L]
RewriteRule ^questions edit_question.php [NC,L]
RewriteRule ^admin-signup admin_signup.php [NC,L]
RewriteRule ^admin-login admin_login.php [NC,L]
RewriteRule ^admin-nav admin_nav.php [NC,L]
RewriteRule ^students students.php [NC,L]
RewriteRule ^reset-admin reset_admin.php [NC,L]
RewriteRule ^prepare-result pre_result.php [NC,L]
RewriteRule ^exam-controller exam_controller.php [NC,L]
RewriteRule ^school-details edit_sch_details.php [NC,L]
RewriteRule ^principal p_profile.php [NC,L]
RewriteRule ^v-principal vp_profile.php [NC,L]
RewriteRule ^teacher teacher_profile.php [NC,L]
RewriteRule ^logout logout.php [NC,L]
RewriteRule ^search search.php [NC,L]
RewriteRule ^sch_details sch_details.php [NC,L]